$background-color: white;
$background-accent: #E8A70C;

/* Font */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* grid */
@import "grid";

// Helpers
.full { width: 100%; }
.row { margin-bottom: 0; }
.hide { opacity: 0; }
.center { text-align: center; }
.flexme {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
	// Override browser default padding and margin
	margin: 0;
	padding: 0;
	// Set font globally
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	// Sticky the footer
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	// Backgorund color
	background: $background-color;

}

.hover {
  transition-duration: 0.5s;
  &:hover {
    transition-duration: 0.5s;
      box-shadow: #a5a5a5 3px 3px 5px;
  }
}

main {
	// make footer sticky
	flex: 1 0 auto;
  display: flex;
  flex-direction: column;
	#top {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    text-align: center;
    h1 {
      margin: 0;
      font-size: 40px;
      padding: 10px 40px;
      background: rgba(0, 0, 0, 0.3);
    }
    h2 {
      padding: 10px 40px;
      background: rgba(0, 0, 0, 0.3);
      font-style: italic;
    }
    // Matcha background image
    background-image: url(assets/matcha-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    box-shadow: grey 1px 1px 20px;
  }
  #countwrap {
    text-align: center;
    background: #f1f1f1;
    img {
      margin: 15px 10px 10px 10px;
    }
  }
  #maincontainer {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
	#thebox {
    #form, #prize {
      margin-top: 20px;
    }
		#form {
	    padding: 20px;
      background: $background-accent;
      color: white;
      text-align: left;
      border-radius: 5px;
      h2 {
        text-align: center;
        font-size: 35px;
            padding: 0 50px;
      }
      #subform {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      #why {  }
		}
    #prize {
      #giftset {
        list-style: none;
        text-align: center;
        line-height: 25px;
      }
    }
		#signup {
      text-align: center;
      #sterretje {
        opacity: 0.8;
        font-size: 12px;
        text-align: center;
      }
			input {
				padding: 10px;
				border: 0;
				margin: 5px 0;
				text-align: center;
			}
			input[type="submit"] {
				background-color: #4caf50;
				color: white;
				font-size: 20px;
        border-radius: 3px;
			}
			input[type="checkbox"] {
				margin-right: 10px;
			}
		}
	}
	.whiteback {
		background: rgba(255, 255, 255, 0.5);
	}
}

#footer {
	// make the copyright notics less in your face
	text-align: center;
	padding: 10px;
	opacity: 0.6;
	font-size: 13px;
}