- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main#index
			div.row.full#top
				h1 True Matcha
				h2 An ancient tea, for moments of calm and focus
			div.row.full#countwrap
				img( src="./assets/postnl-small.png" )
				img( src="./assets/ayia-small.png" )
				
			div.row#maincontainer
				div.col.l8.offset-l1.m12.s12#thebox
					div.col.m6.s12#form
						div.row
							h2 Win een Premium Matcha set t.w.v. €104!
							h3.col.s12.center De winnaar wordt bekend over: <br>
								span#countdown 
							form( action="https://sendy.skillcollector.com/subscribe" method="POST" accept-charset="utf-8" ).col.l8.offset-l2.m12.s12#signup
								p.col.s12 Waarom drink jij graag matcha?
								div#why.col.s12
									input#brain( type="checkbox" name="brain" value="true" )
									label( for="brain" ) Om me te concentreren
									br
									input#taste( type="checkbox" name="taste" value="true" )
									label( for="taste" ) Omdat ik het lekker vind
									br
									input#health( type="checkbox" name="health" value="true" )
									label( for="health" ) Omdat het gezond is
										span.hide ___
									br
								div#subform.col.s12
									input( type="text" name="name" id="name", placeholder="Uw Naam" ).col.m12.s12
									input( type="email" name="email" id="email", placeholder="Uw Email" ).col.m12.s12
									input( type="hidden" name="list" value="oI48hQUP763ZnykUm892892skWbA" )
									input( type="submit" name="submit" id="submit", value="Doe gratis mee!" ).col.m12.hover.s12
								p.col.s12#sterretje * Je krijgt een bevestigingsemail
					div.col.m6.s12#prize
						img( src="./assets/aiya-gift-set-fulltransx500.png" ).col.s12
						ul.col.s12#giftset
							li Super Premium Matcha Ten 30G ( € 46,00 )
							li Matcha kom ( € 32.00 )
							li Bamboe chasen klopper ( € 14,00 )
							li Matcha chasen houder ( € 9,00 )
							li Bamboe matcha lepel ( € 3,00 )
	include pug/_footer.pug