- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main#index
			div.row.full#top
				h1 Win een Premium Matcha set t.w.v. €104!
			div.row.full#countwrap
				h3.col.s12 De winnaar wordt bekend over 
					span#countdown 
			div.container#maincontainer
				div.row#thebox
					div.col.m6.s12#prize
						img( src="./assets/aiya-gift-set-fulltransx500.png" ).col.s12
						ul.col.s12#giftset
							li Super Premium Matcha Ten 30G ( € 46,00 )
							li Matcha kom ( € 32.00 )
							li Bamboe chasen klopper ( € 14,00 )
							li Matcha chasen houder ( € 9,00 )
							li Bamboe matcha lepel ( € 3,00 )
					div.col.m6.s12#form
						h2 Doe mee en win:
						form( action="https://sendy.skillcollector.com/subscribe" method="POST" accept-charset="utf-8" ).row#signup
							p.col.s12 Waarom drink jij graag matcha?
							div#why.col.m6.offset-m3
								input#brain( type="checkbox" name="brain" value="true" )
								label( for="brain" ) Om me te concentreren
								br
								input#taste( type="checkbox" name="taste" value="true" )
								label( for="taste" ) Omdat het lekker is
								br
								input#health( type="checkbox" name="health" value="true" )
								label( for="health" ) Omdat het gezond is
								br
							div#subform.col.s12
								input( type="text" name="name" id="name", placeholder="Uw Naam" ).col.m12
								input( type="email" name="email" id="email", placeholder="Uw Email" ).col.m12
								input( type="hidden" name="list" value="mOyHMV7z2GouhMaCpTdqpw" )
								input( type="submit" name="submit" id="submit", value="Doe gratis mee!" ).col.m12.hover
	include pug/_footer.pug