- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main.container
			div.row#thebox
				h1 Win een Premium Matcha set t.w.v. €93.50!
				div.col.m4.offset-m1.s12
					img( src="./assets/aiya-gift-set-fulltransx500.png" )
				div.col.m4.offset-m1.s12
					form( action="https://sendy.skillcollector.com/subscribe" method="POST" accept-charset="utf-8" ).row#signup
						p Waarom drink jij graag matcha?
						input( type="checkbox" name="brain" value="true" )
						span Om me te concentreren
						br
						input( type="checkbox" name="taste" value="true" )
						span Omdat het lekker is
						br
						input( type="checkbox" name="health" value="true" )
						span Omdat het gezond is
						br
						div#subform
							input( type="text" name="name" id="name", placeholder="Uw Naam" ).col.m12
							input( type="email" name="email" id="email", placeholder="Uw Email" ).col.m12
							input( type="hidden" name="list" value="mOyHMV7z2GouhMaCpTdqpw" )
							input( type="submit" name="submit" id="submit", value="Doe gratis mee!" ).col.m12
	include pug/_footer.pug