- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main.container
			div.row#thebox.flexme
				h1 Klik op de bevestigings link
				h1 in je email om je deelname te bevestigen.
	include pug/_footer.pug