- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main.container
			div.row#thebox.flexme
				h1 Gefeliciteerd, je doet mee voor de Matcha set!
				p Zodra de winnaar bekend is ontvang je een email.
				p Ja kan ons ondertussen op 
					a( href="https://www.instagram.com/truematchastore/" ) Instagram 
					span en like ons op 
					a( href="https://www.facebook.com/truematcha/" ) Facebook


	include pug/_footer.pug