- const page = { title: 'Home', desc: 'Home page', published: '2017-01-01', url: '/', featuredimg: '/image.jpg' }
doctype html
html
	include pug/_header.pug
	body
		main.container
			div.row#thebox
				h1 Gefeliciteerd, je doet mee voor de Matcha set!
	include pug/_footer.pug